.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 575.98px) {
  .gallery__list {gap: 20px 19px;}
}