.popup__button-save {
  width: 100%;
  padding: 14px;
  margin-top: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s linear;
}
