.popup__button-save {
  width: 100%;
  padding: 14px;
  margin-top: 48px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.popup__button-save:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 575.98px) {
  .popup__button-save {
    font-size: 14px;
  }
}